#warp{
    width: 960px;
    margin: 0px auto;
}
body{
    background-image:url("../image/%E8%83%8C%E6%99%AF.gif");
}

header{
    border:dashed 1px;
    height: 50px;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    background-color: orange;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.justify{
    display:flex;
    justify-content: space-between;
    background-color: white;
}

.text{
       font-weight:bold; 
}

#sidenavi{
    float: right;
    width: 328px;
    height: auto;
    border:dashed 1px #999;
    margin: 10px 10px 10px 0px;
}

#sidenavi h1{
    margin: 40px 10px 10px 0px;
text-align: center;
}

#contents{
    float: left;
    width: 618px;
    height: auto;
    border: dashed 1px #999;
    margin: 10px 0px 10px 0px;
    background-color: rgba(255,255,255,0.5);
}

#contents h1{
    margin: 40px 10px 10px 0px;
text-align: center;
}

.patcontents{  
    width: 95%;
    height: 70%;
    margin: 10px 5px 5px 5px;
    background-color:rgba(255,255,255,0.5);
}

.patcontents h2{
    margin: 5px 0px 5px 15px;
}



.patron_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 4px;
    color:#ffffff;
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #c58668;
    margin: 5px 0px 5px 15px;
}

.patron_btn:active{
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

.maintrim{
    overflow: hidden;
    width: 480px;
    height: 320px;
    position: relative;
     margin-left: auto;
    margin-right: auto;
}

.maintrim img{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

.subtrim{
    overflow: hidden;
    width: 280px;
    height: 160px;
    position: relative;
    margin: 0px 0px 0px 15px;
}

.subtrim img{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

footer{
    clear: both;
    border: dashed 1px #999;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display: block;
}